<% layout('layout') -%>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navspace">
    <div class="container">
      <h1> Shop Smart, Shop S-Mart! </h1>
      <p> Signup to start buying. </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Signup &raquo;</a></p>
    </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3> Start your search here. </h3>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h3> Look for smart items! </h3>
      <p> They will appear across the site as you add to your cart. </p>
   </div>
    <div class="col-md-4">
      <h3> Build a smart cart. </h3>
      <p> The more you buy, the more smart items you see. </p>
    </div>
  </div>
