<% layout('boilerplate') -%>

<h1> Shop Smart, Shop S-Mart! </h1>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel similique magnam cum nostrum dolorum doloribus neque voluptatum cupiditate expedita, eum fugit, sit ab numquam officiis minus, beatae consectetur asperiores! Saepe. </p>



<p> Signup to start buying. </p>
<h3> Start your search here. </h3>

<p> Our prices are really good. </p>

<h3> Look for smart items! </h3>
<p> They will appear across the site as you add to your cart. </p>

<h3> Build a smart cart. </h3>

<p> The more you buy, the more smart items you see. </p>
